name: Integration Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-on-kind:
    name: Integration Tests (kind)
    uses: ./.github/workflows/_integration-test-reusable.yaml
    with:
      cluster-type: kind
      image-tag: test
      namespace: default

  test-on-minikube:
    name: Integration Tests (minikube)
    uses: ./.github/workflows/_integration-test-reusable.yaml
    with:
      cluster-type: minikube
      image-tag: test
      namespace: default
