name: Integration Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-on-kind:
    name: kind
    uses: ./.github/workflows/integration-test-reusable.yaml
    with:
      cluster_type: kind

  test-on-minikube:
    name: minikube
    uses: ./.github/workflows/integration-test-reusable.yaml
    with:
      cluster_type: minikube
